.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 280px;
  background: #fff;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.sidebar .logo {
  padding: 40px 0px;
  margin: 0;
  display: block;
  position: relative;
  z-index: 4;
}
.sidebar .sidebar-wrapper {
  position: relative;
  height: calc(100vh - 75px);
  overflow: auto;
  width: 280px;
  z-index: 4;
  padding-bottom: 30px;
}
.sidebar .logo .simple-text {
  text-transform: uppercase;
  padding: 5px 0px;
  display: inline-block;
  font-size: 20px;
  color: #3C4858;
  white-space: nowrap;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
  text-align: center;
  display: block;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.432);
  border-top: 0.5px solid ;
  border-color: darkgray;
  height:60px;
  text-align: start;
}
.nav-link:focus {
  color: rgb(255, 255, 255);
  background-color: #55b0fc;
}
.nav-drop {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.432);
  border-top: 0.5px solid ;
  border-color: darkgray;
  height: 60px;
  text-align: start;
}
.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 280px);
  transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding: 40px;
  font-size: 20px;
  align-items: stretch;
  border-color: white;
  text-align: center;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #eeeeee;
}
fieldset.scheduler-border {
  border: 2px dashed  rgb(155, 151, 151);
  border-radius: 12px;
  padding: 0 1.8em 1.8em 1.8em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
          box-shadow:  0px 0px 0px 0px #000;
}
legend.scheduler-border {
  font-size: 1.4em !important;
  font-weight: bold !important;
  text-align: left !important;
  width:auto;
  padding:0 10px;
  border-bottom:none;
}
.card-button {
  align-items: center;
  text-align: center;
}
.input-form {
  text-align: center;
  padding: 10px;
  align-items: center;
}
.div-table {
  display: table;         
  width: 100%;         
  background-color: #eee;         
  border: 1px solid #666666;         
  border-spacing: 5px; 
}
.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}
.div-table-col {
  float: left; 
  display: table-column;         
  width: 200px;         
  background-color: #ccc;  
}
.table {
  display: table;
  width: 95%; 
  margin-top: 10px;
  margin-bottom: 5px;
}
.heading {
  font-weight: bold;
  height: 40px;
  align-items: center;
  color: white;
  margin-left: 5px; 
}
 .row-results {
  margin-bottom: 10px;
  align-items: center;
} 
.button-delete {
  border-color: #0275d8;
  border-radius: 5%;
  border-width: 1px;
  background-color: white;
}
.button-delete:focus  {
  background-color: #0275d8 ;
}
.text-details {
  font-weight: normal;
  height: 40px;
  align-items: center;
  font-size:18px;
  margin-bottom: 15px;
}
.detail-card {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 40px;
  padding-top: 20px;
}
div.ex3 {
  overflow: auto;
  height: 300px;
  padding-left: 20px;
}
.nav-border {
  border-top: 1px solid; 
  border-color: darkgray;
}
.graph {
  width: 500px;
  height: 200px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.img-eq {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  padding-bottom: 10px;
}
.description {
  font-size: large;
  padding: 20px;
}
.dropmenu {
  border-bottom: 1px solid; 
  border-color: darkgray;
}
.chevron-down {
  float: right; 
  padding-top: 5px;
}
.bold-text {
  font-size:18px;
  font-weight: bold;
}
.model-heading {
  padding-left: 20px; 
  padding-top: 20px;
}